<%= form_tag('/trips/invite', :method => 'post') do  %>	
	

  <%= label_tag(:email, "Add Users") %>
  <%= text_field_tag(:email)  %>
	<ul id="invite_list">
	</ul>
	<%= hidden_field_tag 'trip', @trip.id %>
  <div class="actions">
  	<%= submit_tag("Invite") %>
  </div>
<% end %>