<h2><%= @trip.name %> </h2>
<% 
if (@logged_user.trips.include? @trip) 
	has_map = true
else
	has_map = false
end
%>
<% if has_map %>
<%= link_to 'New Place', new_trip_place_path(@trip) %>
<% end %>
<%= gmaps4rails(@json) %>

<% if has_map %>
<%= form_tag("/trips/invite/#{@trip.id}", :method => "post") do -%>
		<%= render "layouts/invite" %>
<% end -%>
<% end %>
