<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/base-min.css">

<%= stylesheet_link_tag "trip_partial" %>

<div class="pure-g-r thumbnails">
	<% @trips.each do |recommended_trip| %>
	 <!--id = "recommended" -->
	  <!--style="background-image: url(<%= recommended_trip.cover_image_url %>);" -->
		<div class="pure-u-1-2 thumbnail photo-box" id = "recommended">
            <%= link_to image_tag(recommended_trip.cover_image_url) %>
            <aside class="photo-box-caption">
      			<h3><%= link_to recommended_trip.name, recommended_trip %></h3>
      			<h3>People: <%= recommended_trip.users.count %></h3>
      		</aside>
		</div>
		<br />
	<% end %>
</div>